<ion-header>
  <ion-navbar>
    <ion-title>
      RT Barcode reader
    </ion-title>
  </ion-navbar>

  <ion-list radio-group [(ngModel)]="billType" class="billTypeList">
    <ion-item [ngClass]="isBillTypeMepco ? 'mepcoSelected':'mepcoUnSelected' ">

      <ion-radio value="mepco'" checked (ionSelect)="btnMepcoTapped()"></ion-radio>
      <ion-label style="text-align:center;">MEPCO</ion-label>
    </ion-item>
    <ion-item [ngClass]="!isBillTypeMepco ? 'sngplSelected': 'sngplUnSelected'">

      <ion-radio value="sngp" (ionSelect)="btnSngplTapped()"></ion-radio>
      <ion-label style="text-align:center;">SNGPL</ion-label>
    </ion-item>
  </ion-list>

</ion-header>

<ion-content padding>

  <ion-list no-padding no-margin no-lines  *ngFor="let refenceNumber of refencesNumberArray">
    <ion-label class="lblRefNumber">{{refenceNumber}}
    </ion-label>
  </ion-list>

  <ion-fab bottom left (click)="testEmail()">
      <button ion-fab>
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-fab>

  <ion-fab bottom right (click)="scan()">
    <button ion-fab>
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
<ion-footer>
  <ion-label text-wrap class="lblTotal" *ngIf="refencesNumberArray">Total Bills: {{refencesNumberArray.length}} </ion-label>
</ion-footer>