page-home {
    .billTypeList {
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
        box-shadow: none;
        .mepcoUnSelected {
            box-shadow: none;
            color: rgb(154, 154, 160);
            padding: 0px !important; // 
            margin-left: 0px;
            margin-top: 0px;
            background: orange !important;
            float: left;
            width: 49%;
            .item-inner {
                .input-wrapper {
                    .label {
                        color: white;
                        font-size: 15px;
                        
                        padding: 0px 0px 0px 0.5vh !important;
                    }
                }
            }
        }
        .sngplUnSelected {
            box-shadow: none; // margin-right: 1vh;
            background: orange !important;
            padding: 0px !important;
            float: right;
            width: 49%;
            .item-inner {
                .input-wrapper {
                    .label {
                        color: white;
                        font-size: 15px;
                        
                        padding: 0px 0px 0px 0.5vh !important;
                        padding: 0px;
                    }
                }
            }
        }
        .mepcoSelected {
            box-shadow: none;
            color: rgb(154, 154, 160);
            padding: 0px !important; // 
            margin-left: 0px;
            margin-top: 0px;
            background: green !important;
            float: left;
            width: 49%;
            .item-inner {
                .input-wrapper {
                    .label {
                        color: white; // rgb(154, 154, 160);
                        font-size: 15px;
                        
                        padding: 0px 0px 0px 0.5vh !important;
                    }
                }
            }
        }
        .sngplSelected {
            box-shadow: none; // margin-right: 1vh;
            background: green !important;
            padding: 0px !important;
            float: right;
            width: 49%;
            .item-inner {
                .input-wrapper {
                    .label {
                        color: white; //rgb(154, 154, 160);
                        font-size: 15px;
                        
                        padding: 0px 0px 0px 0.5vh !important;
                        padding: 0px;
                    }
                }
            }
        }
    }

    .lblTotal{
        width: 100%;
        font-size: 18pt;
        font-weight: bold;
        background: lightblue;

        padding: 8pt;

        text-align: center;
    }
    .lblRefNumber{
        width: 100%;
        font-size: 18pt;
        font-weight: bold;
        background: white;
        border-bottom: 1px solid #000;
        text-align: center;
    }

   
}

.rtToastClass {
    .toast-wrapper.toast-top {
        width: 100% !important;
        margin: 0px;
        margin-left: -9px !important;
        // margin-top: -5px !important;
        margin-top: 25px !important;
    }
    .toast-ios .toast-wrapper,.toast-md .toast-wrapper {
        position: absolute;
        left: 0px !important; 
        right: 0px !important;
        
        margin-top: -9px;
        border-radius: 0.65rem;
        z-index: 10;
        display: block;
        background: transparent !important;
    }
    .toast-message {
        text-align: center;
        background-color: chocolate;
        color: white;
        font-size: 130%;
        width: 100% !important;
        // padding: 0px;
        // margin: 0px;
    }
    .scroll-content {
        overflow-y: auto;
    }
    .toggle-icon{
        background-color: purple !important;
    }
}